<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Backoffice Principal</title>
</head>
<body>
<h1>Bem-vindo ao Backoffice</h1>
<div th:switch="${userRole}">
    <div th:case="'ADMIN'">
        <!-- Conteúdo para administrador -->
        <h2>Bem-vindo, Administrador!</h2>
        <a href="/admin/produtos">Gerenciar Produtos</a>
        <a href="/admin/usuarios">Gerenciar Usuários</a>
    </div>
    <div th:case="'ESTOQUISTA'">
        <!-- Conteúdo para estoquista -->
        <h2>Bem-vindo, Estoquista!</h2>
        <a href="/admin/produtos">Gerenciar Produtos</a>
        <a href="/admin/pedidos">Gerenciar Pedidos</a>
    </div>
    <div th:case="*">
        <!-- Conteúdo padrão ou para usuários não reconhecidos -->
        <h2>Bem-vindo!</h2>
    </div>
</div>


</body>
</html>
