<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Principal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="section" id="principal">
        <h2>Principal</h2>
        <button onclick="window.location.href='/listar-produto'">Listar Produto</button>
        <button onclick="window.location.href='/listar-usuario'">Listar Usuário</button>
        <button onclick="window.location.href='/listar-pedidos'">Listar Pedidos</button>
    </div>
</div>
</body>
</html>

